.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    max-height: 90vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2)
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--dark)
}

.modal-header h2 {
    margin: 0;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content h2 {
    margin: 1rem 0 0 0
}

.modal-content p {
    font-weight: 600;
}

.modal-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cancel-btn, .join-btn {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: .5rem;
}

.cancel-btn {
    background-color: var(--warning);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.cancel-btn:hover {
    opacity: 1;
}

.join-btn {
    background-color: var(--success);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.join-btn:hover {
    opacity: 1;
}